body {
    font-family: "PingFang SC", miui, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
        sans-serif;
    max-width: 7.50rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
